.container {
    width: 25rem;
    height: auto;
    padding: 1rem;
    background-color: blue;
    margin-bottom: 0.5rem;
}
.text-box h2 {
    color: white;
    font-size: 1.5rem;
}
.text-box p {
    color: wheat;
}
/*Breakpoint 1*/
/*Quando chegar em 575px ele vai gerar uma mudança*/
@media (min-width: 575px) {
    .container {
        background: red;
        margin-bottom: 1rem;
        transition: 1s;
    }
}
/*Breakpoint 2*/
/*Quando chegar em 768px ele vai gerar uma mudança*/
@media (min-width: 768px) {
    .container {
        width: 40.6rem;
        background: greenyellow;
        transition: 1s;
        margin-bottom: 1.12rem;
    }
    .text-box h2 {
        color: purple;
    }
    .text-box p {
        color: purple;
    }
}
/*Breakpoint 3*/
/*Quando chegar em 900px ele vai gerar uma mudança*/
@media (min-width: 900px) {
    body {
        background-color: black;
        height: 100vh;
        width: 100vw;
        margin: 0;
        display: flex;
        justify-content: center;
        transition: 1s;
    }
    .container {
        width: 43.7rem;
        padding: 1.25rem;
        background: black;
        display: flex;
        margin-right: 0.5rem;
        transition: 1s;
    }
    .text-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }
    .text-box h2 {
        color: greenyellow;
        font-size: 3rem;
        transition: 1s;
    }
    .text-box p {
        color: white;
        font-size: 1.5rem;
        transition: 1s;
    }
}